<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Giansalvo Gusinu">
  <title>Parkinson's detection</title>
  <style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 50.0%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
</head>
<body>
<p><h1>Substantia Nigra segmentation with Neural Networks</h1></p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload image</button>
</form>

<div class="row">
  <div class="column">
    {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="image uploaded" style="width:100%">
    {% endif %}
  </div>
  <div class="column">
    {% if img_output %}
    <h3>Output image: {{img_output}}</h3>
    <img src="{{ img_output }}" alt="image after detection" style="width:100%">
    {% endif %}
  </div>
</div> 

 </body>
</html>